@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
:root {
  --bg-light: gold;
  --accent-light: white;
  --color-light: black;
  --border-light: gold;

  --bg-dark: rgb(32, 32, 32);
  --accent-dark: rgb(48, 48, 48);
  --color-dark: white;
  --border-dark: rgb(32, 32, 32);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tenor Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  &:hover {
    transform: translate(-2px, -2px);
  }
}
.active {
  opacity: 0.9;
}
h1 {
  font-size: 2em;
  line-height: 1.2em;
}
h2 {
  font-size: 1.5em;
}

.layout {
  background-color: var(--bg-light);
  overflow: auto;
}
.layout #accentTheme {
  background-color: var(--accent-light);
  color: var(--color-light);
  border: 2px var(--border-light) solid;
  border-radius: 20px;
}

.layout #themeButton {
  background-color: var(--accent-light);
  border: 2px var(--border-light) solid;
}

.layout.dark {
  background-color: var(--bg-dark);
}

.layout.dark #accentTheme {
  background-color: var(--accent-dark);
  color: var(--color-dark);
  border: 2px var(--border-dark) solid;
}

.layout.dark #themeButton {
  border: 2px var(--border-dark) solid;
  background-color: var(--accent-dark);
}
