.Logo {
  width: 30%;
  display: flex;
}
.Container {
  display: flex;
  width: 70%;
}
.List {
  display: flex;
  width: 100%;
}
.Contacts {
  display: flex;
  width: 30%;
}
.a {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
