.Container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.Container > div {
  padding: 70px 50px;
}
.Button {
  padding: 20px;
  border-radius: 20px;
  border: none;
  &:hover {
    transform: translate(-2px, -2px);
  }
}
.BaseContent {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
}
