.ButtonTile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid gold;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}
.ButtonTile:hover {
  background-color: #ffffffdc;
}
